<!-- Main Footer -->
<footer class="main-footer">
  <!-- To the end -->
  <div class="float-end d-none d-sm-inline">
version 1.0  </div>
  <!-- Default to the start -->
  <strong>Copyright &copy;  <%= copyright_notice_year_range(2022) %> <a href="https://winnersyst.com/">Winner systems</a>.</strong> All rights reserved.
</footer>
