<nav class="main-header navbar navbar-expand navbar-light">
  <div class="container-fluid">
    <!-- Start navbar links -->
    <ul class="navbar-nav">
      <div class="brand-container justify-content-center">
    <a href="<%= root_path %>" class="brand-link">
      <%= image_tag "winner.png", height: 50, alt: "WeSchool Logo", class: "brand-image opacity-80 shadow" %>
      <span class="brand-text fw-light">WeSchool</span>
    </a>
  </div>

    </ul>

    <!-- End navbar links -->
    <ul class="navbar-nav ms-auto">
    <li class="nav-item d-none d-md-block">
        <a href="<%= root_path %>" class="nav-link">Login</a>
      </li>
    </ul>
  </div>
</nav>
