<div class="card shadow">
  <div class="card-header">
    <h4>
      Qty type
    </h4>
  </div>
  <div class="card-body">
  
    <b>Name:</b>
    <%= @qty_type.name %>
    <br>
  
  </div>
  <div class="card-footer">
    <%= link_to "Edit" ,edit_qty_type_path(@qty_type), class: 'btn btn-sm btn-info'   %>
    <%= button_to "Delete", qty_type_path(@qty_type), form: { data: { turbo_confirm: "Are you sure?" } }, method: :delete, class: 'btn btn-sm btn-danger'  %>


       </div>
</div>
