<div class="card shadow">
  <div class="card-header">
    <h4>
      Location
    </h4>
  </div>
  <div class="card-body">
  
    <b>Name:</b>
    <%= @location.name %>
    <br>
  
  </div>
  <div class="card-footer">
    <%= link_to "Edit" ,edit_location_path(@location), class: 'btn btn-sm btn-info'   %>
    <%= button_to "Delete", location_path(@location), form: { data: { turbo_confirm: "Are you sure?" } }, method: :delete, class: 'btn btn-sm btn-danger'  %>


       </div>
</div>
