<div class="card">
  <div class="card-header">
    <h3 class="card-title">

      <%= title %>
    </h3>
    <div class="card-tools">
      <ul class="nav nav-pills ms-auto">


      </ul>
    </div>
  </div><!-- /.card-header -->
  <div class="card-body">
    <%= yield %>
  </div>
  </div>